.ListingCard a {
  text-decoration: none;
  color: inherit;
}

.ListingCard {
  max-width: 840px;
  width: 100%;
}

.ListingCard img {
  height: 250px;
  width: 100%;
}

.ListingCard p {
  font-size: 1.2rem;
}


@media only screen and (max-width: 55.2em) {
  .ListingCard {
    max-width: 540px;
  }
}

@media only screen and (max-width: 48.1em) {
  .ListingCard img {
    height: 350px;
  }
  
}