.SearchForm {
  margin-top: 13px;
  display: flex;
  justify-content: center;
}

.SearchForm__input {
  width: 20rem;
}

.SearchForm input:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.SearchForm-btn {
  background-color: #ff385c;
  border-color: #ff385c;
  margin-right: 9px;
}

.SearchForm-btn:hover {
  background-color: #ff6480;
  border: none;
}

.SearchForm-form {
  display: flex;
}