.SearchForm, .SearchForm-form {
  margin-top: 13px;
  display: flex;
  justify-content: center;
}

.SearchForm__input {
  width: 20rem;
}

.SearchForm input:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.SearchForm-btn {
  margin-right: 9px;
}
